#feedback{
    background: rgb(41, 41, 163) ;
    padding: 7% 10%;
}
.carousel-item{
    padding: 5% 15% ;
    text-align: center;
    font-style: italic;
} 
.img{
    width: 120px;
    height: auto;
}  
.carousel-indicators{
    bottom: -20px;
} 


 


